[submodule "crates/external/chrono_0.4.23"]
	path = crates/external/chrono_0.4.23
	url = https://github.com/fluffysquirrels/chrono
	branch = wasi-clocks-component-preview
[submodule "crates/external/iana-time-zone_0.1.53"]
	path = crates/external/iana-time-zone_0.1.53
	url = https://github.com/fluffysquirrels/iana-time-zone
	branch = js-optional-for-wasm32
